<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.shkil.android.util.events"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="${applicationId}.permission.EVENT_BUS"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.EVENT_BUS" />

    <application />

</manifest>
